<p>
    <div class="text">
        <strong>Check-in</strong> will take place at the <a href="https://fac.umass.edu/Online/default.asp?BOparam::WScontent::loadArticle::permalink=Ballroom&BOparam::WScontent::loadArticle::context_id=" target="_blank"><strong>Student Union Ballroom</strong></a>.
        Bring your QR code, and you’ll be all set to check-in!
    </div>
</p>
<p>
    <div class="text">
        <%= HackumassWeb::Application::HACKATHON_NAME %> will take place in the
        <a href="https://www.google.com/maps?q=Integrative+Learning+Center,+UMass+Amherst" target="_blank"><strong>Integrative Learning Center (ILC)</strong></a> this year.
    </div>
</p>
<p>
    <div class="text">If you have any questions, check out our FAQ or ask us in #ask-organizer on Discord, or email us at <a href="mailto:<%= HackumassWeb::Application::CONTACT_EMAIL %>"><%= HackumassWeb::Application::CONTACT_EMAIL %></a>. Join Discord and follow
        our social medias for live updates!</div>
</p>
<br>
