<p>
    <div>If you arrive before the opening ceremony (8 PM on November 8th), use the QR code above to check in at the welcome desk in the Student Union Ballroom. After the opening ceremony, you can check in at the snack/help table in the ILC.</div>
</p>
<p>
<div>If, for some reason, your QR code can't be scanned, you can still check in using your email address, which is
  <b><%= current_user.email %></b> </div>
</p>
<p>We understand that things happen, so if you can't attend the event for any reason, please let us know by clicking the button below.</p>
