<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">Hi
    <%= @user.first_name %>,</p>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">Thanks for applying to
    <%= HackumassWeb::Application::HACKATHON_NAME %>!</p>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">At this time, we are experiencing a high volume of requests. While we appreciate your patience, we will have to ask you to hold on a little longer. Please stay tuned for further updates.</p>
<p style="font-family:sans-serif;font-size:14px;font-weight:normal;margin:0;Margin-bottom:15px;">Thanks again for
    applying!
    <br>- The <%= HackumassWeb::Application::HACKATHON_NAME %> Team</p>
